.fileupload-size {
  width: 50%;
  align-items: center;
}

input[type=file] {
  display: block !important;
  right: 1px;
  top: 1px;
  height: 34px;
  opacity: 0;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

label {
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0;
    cursor: text;
}

.text-wrapper-height {
  min-height: 300px;
}

.text-card {
  height: 100%;
}

.speech-card-wrapper {
  height: 100%;
}
